@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Tutorzone_Comman_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12" style="min-height:600px;">
        <h2>DASHBOARD</h2>
            <hr />
        <div class="row">
        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Tutor/Dashboard">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                <h3 class="card-title text-center" ><i class="glyphicon glyphicon-th-large" style="font-size:50px;line-height:62px;"></i><br />
                    <span class="card-title text-center">Dashboard</span></h3>
                    </div>
            </div></a>
     
            </div>
        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Tutor/My_Tutions">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                <h3 class="card-title text-center" ><i class="glyphicon glyphicon-lock" style="font-size:50px;line-height:62px;"></i><br />
                    <span class="card-title text-center">My Tutions</span></h3>
                    </div>
            </div></a>
        </div>

        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Tutor/Tution_Request">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                <h3 class="card-title text-center" ><i class="glyphicon glyphicon-envelope" style="font-size:50px;line-height:62px;"></i><br />
                    <span class="card-title text-center">Tution Request</span></h3>
                    </div>
            </div></a>
        </div>

        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Tutor/TProfile">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                <h3 class="card-title text-center" ><i class="glyphicon glyphicon-user" style="font-size:50px;line-height:62px;"></i><br />
                    <span class="card-title text-center">My Profile</span></h3>
                    </div>
            </div></a>
        </div>
            </div>
        <div class="row">
        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Tutor/Change_Password">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                <h3 class="card-title text-center" ><i class="glyphicon glyphicon-alert" style="font-size:50px;line-height:62px;"></i><br />
                    <span class="card-title text-center">Change Password</span></h3>
                    </div>
            </div></a>
        </div>

        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Tutor/Logout">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                <h3 class="card-title text-center" ><i class="glyphicon glyphicon-log-out" style="font-size:50px;line-height:62px;"></i><br />
                    <span class="card-title text-center">LogOut</span></h3>
                    </div>
            </div></a>
        </div>
            </div>

    </div>
</div>
