@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Adminzone_Comman_Layout.cshtml";
}

    <div class="col-sm-12" style="margin-top:3%;">
        <div class="row">
        <div class="col-sm-3"style="margin-top:3%;">
            <a href="/Admin/Dashboard">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class=" text-center" style="font-size:30px;line-height:50px;">Dashboard</span>
                    </div>
            </div></a>
     
            </div>
        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/ManageTutorProfile">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class=" text-center" style="font-size:30px;line-height:50px;">Manage<br /> Tutor Profile</span>
                    </div>
            </div></a>
        </div>

        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/TutionRequest">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class="text-center" style="font-size:30px;line-height:50px;">Tution Request</span>
                    </div>
            </div></a>
        </div>

        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/StudentReview">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class="text-center" style="font-size:30px;line-height:50px;">Student Reviews</span>
                    </div>
            </div></a>
        </div>
             <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/CurrentTution">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class="text-center" style="font-size:30px;line-height:50px;">Current Tutuion</span>
                    </div>
            </div></a>
        </div>
             <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/Enquiry">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class=" text-center" style="font-size:30px;line-height:50px;">Manage Enquiry</span>
                    </div>
            </div></a>
        </div>
             <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/MNotification">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class="text-center"style="font-size:30px;line-height:50px;">Manage Notification</span>
                    </div>
            </div></a>
        </div>
             <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/StudyMaterial">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class=" text-center"style="font-size:30px;line-height:50px;">Manage<br /> Study Material</span>
                    </div>
            </div></a>
        </div>

             <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/SendSMS">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class=" text-center" style="font-size:30px;line-height:50px;">Send SMS</span>
                    </div>
            </div></a>
        </div>
        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Tutor/Change_Password">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class=" text-center" style="font-size:30px;line-height:50px;">Change Password</span>
                    </div>
            </div></a>
        </div>

        <div class="col-sm-3" style="margin-top:3%;">
            <a href="/Admin/Logout">
            <div class="card"style="box-shadow:rgba(0,0,0,.4) 10px 10px;">
                <div class="card-body"style="min-height:120px;">
                    <span class="text-center" style="font-size:30px;line-height:50px;">LogOut</span>
                    </div>
            </div></a>
        </div>

    </div></div>
