@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Home_common_layout.cshtml";
}
       <div class="col-sm-12 pt-4">
    <h1 class="text-center" >About Us</h1>
    &nbsp;
    <div class="row" style="background-image:url('../Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png');background-repeat:no-repeat;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <img src="~/Content/img/Logo-header.png" />
    <p align="justify">
         "HomeTutor's.com" provides tuition for all students on a single platform.
        This portal will help students to search for consultants online and study tuition under the guidance of expert tutors.This portal also helps the
        consultant (Tutors) to search for the students by registering their details on the "HomeTutor's.com" portal and providing it to the respected student
        who is in the need for the same.
                    As our country is growing  day by day, people are too busy in their own world, when they don't have time to even interact with each other in their
        respected houses, it's hard to believe that they will go out and look for a good and wrathful tutor for their children to secure their future. At this type of 
        situation "CityTutors.com" is playing a vital role in solving the problem of parents of seraching a good consultant for their child.
    </p>
        &nbsp;
        <p align="justify">
           <b> We have to used to combination  of several surveys, focus group, and one-on-one interviews to gather information from different students, tutors
            , and from key personal at other institutions that have math's/physics students. After gathering requirements, we have decided the following aims
            and objectives of HomeTuor's.com.</b>
            <div class="col-sm-12 d-block p-2 bg-success text-white"># To provide anytime/Anywhere tutor searching.</div>
            <div class="col-sm-12 d-block p-2 bg-primary text-white"># Enabling knowledge sharing at lower economies.</div>
            <div class="col-sm-12 d-block p-2 bg-success text-white"># Easy for the student to use and customize.</div>
            <div class="col-sm-12 d-block p-2 bg-primary text-white"># To provide to search best tutors.</div>
            <div class="col-sm-12 d-block p-2 bg-success text-white"># To provides student Reviews.</div>
            <div class="col-sm-12 d-block p-2 bg-primary text-white"># To provides Tutor Reviews.</div> 
             <div class="col-sm-12 d-block p-2 bg-success text-white"># To provides best tutors in minimum cost.</div>
             <div class="col-sm-12 d-block p-2 bg-primary text-white"># Event Notification to student.</div>
             <div class="col-sm-12 d-block p-2 bg-success text-white"># Easily accessible from any corner of the world if you have to internet connection.</div> 
        </p>
        </div>
        &nbsp;
    <div class="col-sm-2"></div>
        </div>
</div>
   </div>
<hr />
<div class="col-sm-12">
    <div class="row p-0">
        <div class="col-sm-12" style="text-align:center;font-family:heliphant;">
            <h1>Team Member</h1>
        </div>

        <div class="col-sm-4">

        </div>
        <div class="col-sm-3 text-center">
            <div class="card">
                <img src="~/Content/img/picture1.jpg" class="rounded-circle" style="height:290px;" />
                <div class="card-body">
                    <p class="card-text">Rajneesh Maurya</p>
                </div>

            </div>

        </div>

        <div class="col-sm-4">
        </div>
    </div>
</div>
<div class="col-sm-12" style="height:10px;"></div>

